body {
    // background-color: rgb(54, 238, 57);
}
$hoverBackgroundColor:grey;

.card{
    &:hover{
    background-color:$hoverBackgroundColor;
    cursor: pointer;   
    .card-title{
        text-decoration: underline;
    }
}
}
.Bitok {    text-decoration: none;
    &:hover{
        color:white;
    }}
.School-link{
    text-decoration: none;
    &:hover{
        color:white;
    }
}
.OT {
    width:auto;
    height: 430px;
}